<!-- ralcadev09 -->
<div class="container bg-white mx-auto">
    <h2>
        Portofolio
    </h2>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus voluptas non consectetur quis amet aliquid
        enim fugit suscipit numquam unde recusandae, labore tempora pariatur, ratione magnam cumque nesciunt quibusdam
        ipsum?
    </p>
    <div class="row">
        <div class="col">
            <div class="card h-100 border-0" style="width: 18rem;">
                <img src="https://fastly.picsum.photos/id/370/700/400.jpg?hmac=wJTzpTXTCxSc-F2jIgaJ6t76i00UVzNpwOBfmXtpjfI"
                    class="card-img-top"
                    alt="https://fastly.picsum.photos/id/370/700/400.jpg?hmac=wJTzpTXTCxSc-F2jIgaJ6t76i00UVzNpwOBfmXtpjfI">
                <div class="card-body">
                    <h5 class="card-title text-primary">Co-Op Excercise</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut asperiores ut,
                        adipisci modi facere qui obcaecati possimus.</p>

                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 border-0" style="width: 18rem;">
                <img src="https://fastly.picsum.photos/id/530/700/400.jpg?hmac=k-LVr637qwq6M2r9hpAHM35nailVth8IYSpOhharoXs"
                    class="card-img-top"
                    alt="https://fastly.picsum.photos/id/530/700/400.jpg?hmac=k-LVr637qwq6M2r9hpAHM35nailVth8IYSpOhharoXs">
                <div class="card-body">
                    <h5 class="card-title text-primary">Co-Op Excercise</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias excepturi
                        accusantium molestiae animi eum laborum voluptatem? Numquam?</p>

                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 border-0" style="width: 18rem;">
                <img src="https://fastly.picsum.photos/id/631/700/400.jpg?hmac=c9OAku_pO0T3wP1nGZJirNnkLN90w6ild2Py9xroLYs"
                    class="card-img-top"
                    alt="https://fastly.picsum.photos/id/631/700/400.jpg?hmac=c9OAku_pO0T3wP1nGZJirNnkLN90w6ild2Py9xroLYs">
                <div class="card-body">
                    <h5 class="card-title text-primary">Co-Op Excercise</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor beatae velit
                        eius nihil error reiciendis nulla quod.</p>

                </div>
            </div>
        </div>
    </div>
</div>