<!-- ralcadev09 -->
<div class="container bg-white py-5 border-bottom">
    <div class="row">
        <div class="col-3">
            <img class="rounded-circle" src="https://picsum.photos/id/237/300/300" alt="">
        </div>
        <div class="col-9">
            <h2>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. <span class="text-secondary">Iste est, autem sit obcaecati fuga eius.</span> 
            </h2>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus eos enim voluptatem quo dolores
                similique, aperiam ipsum excepturi eligendi dignissimos sapiente vero doloremque. Cupiditate, voluptatum
                iste. Hic mollitia ex ducimus a, molestiae praesentium quia doloribus, ipsum iure facere dicta libero
                neque quidem distinctio sed vitae possimus maiores harum accusantium unde!
            </p>
        </div>
    </div>
</div>